pip install streamlit
pip install geopy
pip install folium
pip install streamlit-folium
pip install pandas
pip install matplotlib
pip install requests
pip install json5
pip install numpy
pip install joblib
pip install scikit-learn==1.3.1
